{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>blog</title>
  

</head>

<body>
        <div class="jumbotron text-center" style="background:#336699">
          <h1 style="color:white">TCE TRACK AND TRACE SYSTEM</h1>
        </div>
        <br>
        <div class="container">
          <a type="button" href={% url 'equipments_op' %} class="btn btn-primary btn-lg" >OPERATING</a>
          <a type="button" href={% url 'equipments_un' %} class="btn btn-primary btn-lg" >UNAVAILABLE</a>
          <a type="button" href={% url 'equipments_id' %} class="btn btn-primary btn-lg" >IDLE</a>
        </div>
        <br><br><br>
        <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Section</th>
              <th scope="col">Condition_code</th>
              <th scope="col">From date</th>
              <th scope="col">To date</th>
            </tr>
          </thead>
          <tbody>
            {% for equipment in equipments1 %}
            <tr>
              <td>{{equipment.section}}</td>
              <td>{{equipment.condition_code}}</td>
              <td>{{equipment.from_date}}</td>
              <td>{{equipment.to_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Section</th>
              <th scope="col">Condition_code</th>
              <th scope="col">From date</th>
              <th scope="col">To date</th>
            </tr>
          </thead>
          <tbody>
            {% for equipment in equipments2 %}
            <tr>
              <td>{{equipment.section}}</td>
              <td>{{equipment.condition_code}}</td>
              <td>{{equipment.from_date}}</td>
              <td>{{equipment.to_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Section</th>
              <th scope="col">Condition_code</th>
              <th scope="col">From date</th>
              <th scope="col">To date</th>
            </tr>
          </thead>
          <tbody>
            {% for equipment in equipments3 %}
            <tr>
              <td>{{equipment.section}}</td>
              <td>{{equipment.condition_code}}</td>
              <td>{{equipment.from_date}}</td>
              <td>{{equipment.to_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        </div>
        <br>
        <br>
        <br>
        <div class="container" style="text-align:center">
          <a type="button" href={% url 'eq' %} class="btn btn-primary btn-lg" >Show Statistics</a>
        </div>

</body>
</html>